mixin sidenav(options)

    nav.sidenav.shadow-right(class=options.sidenavStyle)

        .sidenav-menu

            .nav.accordion#accordionSidenav

                .sidenav-menu-heading
                    | Core

                a.nav-link.collapsed(href='javascript:void(0);', data-toggle='collapse', data-target='#collapseDashboards', aria-expanded='false', aria-controls='collapseDashboards')
                    .nav-link-icon
                        i(data-feather='activity')
                    | Dashboards
                    .sidenav-collapse-arrow
                        i.fas.fa-angle-down
                #collapseDashboards.collapse(data-parent='#accordionSidenav')
                    nav.sidenav-menu-nested.nav.accordion#accordionSidenavPages
                        a.nav-link(href='index.html')
                            | Home
                            span.badge.badge-primary-soft.text-primary.ml-auto Updated
                        a.nav-link(href='#')
                            | page1
                            span.badge.badge-primary-soft.text-primary.ml-auto Updated
                        a.nav-link(href='#')
                            | Page2
                            span.badge.badge-primary-soft.text-primary.ml-auto Updated
