mixin topnav(options)

    nav(class=['topnav', 'navbar', 'navbar-expand', 'shadow'] class=options.topnavStyle)#sidenavAccordion

        //- Navbar Brand Image or Text
        a.navbar-brand(href='index.html')
            | Pradeep Kancharla

        //- Sidenav Toggle Button
        button#sidebarToggle.btn.btn-icon.btn-transparent-dark.order-1.order-lg-0.mr-lg-2(href='#')
            i(data-feather='menu')


        //- Navbar Items
        ul.navbar-nav.align-items-center.ml-auto

            //- Documentation Dropdown
            li.nav-item.dropdown.no-caret.mr-3.d-none.d-md-inline
                a#navbarDropdownDocs.nav-link.dropdown-toggle(href='javascript:void(0);', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    .d-none.d-md-inline.font-weight-500
                        | Resume
                    i.fas.fa-chevron-right.dropdown-arrow
                .dropdown-menu.dropdown-menu-right.py-0.mr-sm-n15.mr-lg-0.o-hidden.animated--fade-in-up(aria-labelledby='navbarDropdownDocs')
                    a.dropdown-item.py-3(href='#', target='_blank')
                        .icon-stack.bg-primary-soft.text-primary.mr-4
                            i(data-feather='book')
                        div
                            .small.text-gray-500 Projects
                            | Information on previous projects
                    .dropdown-divider.m-0
                    a.dropdown-item.py-3(href='#', target='_blank')
                        .icon-stack.bg-primary-soft.text-primary.mr-4
                            i(data-feather='code')
                        div
                            .small.text-gray-500 Repositories
                            | Opensource repositories
                    .dropdown-divider.m-0
                    a.dropdown-item.py-3(href='#', target='_blank')
                        .icon-stack.bg-primary-soft.text-primary.mr-4
                            i(data-feather='file-text')
                        div
                            .small.text-gray-500 Resume
                            | Download my resume


            //- Alerts Dropdown
            li.nav-item.dropdown.no-caret.mr-3.dropdown-notifications
                a#navbarDropdownAlerts.btn.btn-icon.btn-transparent-dark.dropdown-toggle(href='javascript:void(0);', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i(data-feather='bell')
                .dropdown-menu.dropdown-menu-right.border-0.shadow.animated--fade-in-up(aria-labelledby='navbarDropdownAlerts')
                    h6.dropdown-header.dropdown-notifications-header
                        i.mr-2(data-feather='bell')
                        | Message Center
                    //- Example Alert 1
                    a.dropdown-item.dropdown-notifications-item(href='#!')
                        .dropdown-notifications-item-icon.bg-warning
                            i(data-feather='activity')
                        .dropdown-notifications-item-content
                            .dropdown-notifications-item-content-details
                                | September 13, 2020
                            .dropdown-notifications-item-content-text
                                | Website update date.
